{% extends 'authenticatedHome.html' %} 
{% load static %} 

{% block link %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block title %} 
Send Mail 
{% endblock %} 

{% block content %}
<div id="main">
  <form method="POST">
    {% csrf_token %}
    <div>
      {{form.Content.label}}: <br>
      {{form.Content}}
    </div>

    <div>
      {{form.Emails.label}}: <br>
      {{form.Emails}}
    </div>

    <div>
      <div>
        {{form.Username.label}}: <br>
      {{form.Username}}
      </div>

      <div>
        {{form.Your_Email.label}}: <br>
      {{form.Your_Email}}
      </div>

      <div>
        {{form.Your_Two_Factor_Password.label}}: <br>
      {{form.Your_Two_Factor_Password}}
      </div>

      <div>
        <input type="submit">
      </div>
    </div>

    
    <!-- {{form}} -->
  </form>
</div>
{% endblock %}
